#lmap {
    height: 500px;
    margin-bottom: 4rem;
    border-radius: 0.375rem;
}

.footer-line{
    border-top: 1px solid #dadfe5; 
    width: 100%;
}

.hero {
    text-align: center;
    padding: 2rem 0
}

@media(min-width:768px) {
    .hero {
        padding: 6.5rem 0
    }
}

.hero-subheader {
    text-transform: uppercase;
    color: #0054a6;
    font-weight: 500;
    font-size: .75rem;
    margin-bottom: 1rem;
    letter-spacing: .04em
}

.hero-title {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 700;
    letter-spacing: -.02em
}

@media(min-width:560px) {
    .hero-title {
        font-size: 2rem;
        line-height: 2.5rem
    }
}

@media(min-width:960px) {
    .hero-title {
        font-size: 3rem;
        line-height: 3.25rem
    }
}

.hero-description {
    color: var(--color-muted);
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 47rem
}

@media(min-width:560px) {
    .hero-description {
        font-size: 1.125rem
    }
}

@media(min-width:960px) {
    .hero-description {
        font-size: 1.25rem
    }
}

.hero-btn {
    border-radius : 7px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.04),0 4px 6px -2px rgba(0,0,0,.02);
}

.hero-btn-second {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.04),0 4px 6px -2px rgba(0,0,0,.02);
}

.hero-btn-second:hover {
    border-color: rgb(165,173,218);
}

.hero-actions {
    margin-top: 2.5rem !important;
}


.hero-map-title {
    font-weight: 800;
    font-size: 30px;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}


:not([data-bs-theme='dark']) #lmap {
    box-shadow: 1px 1px 23px #888;
}
  